# Python
__pycache__/

*.py[cod]
*.egg-info/
*.pyo
*.pyd

# Environments
.env

.venv/
venv/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# OS
.DS_Store

# Chroma
data/chroma/

# logs
*.log
/src/data/chroma/chroma.sqlite3
