# Python
__pycache__/

*.py[cod]
*.egg-info/
*.pyo
*.pyd

# Environments
.env

.venv/
venv/

# IDE
.idea/
.vscode/
*.iml


# OS
.DS_Store

# Chroma
data/chroma/

# logs
*.log
/src/data/chroma/chroma.sqlite3
/naemo-project-admin-key.json

# GCP 서비스 계정 키
nemo-v2-ai.json
